.actionsIcons {
    color: #da5c01;
    width: 18px;
    justify-content: flex-start;
}
.chevron-right-icon {
    color: #c1c1c1;
}
.status-icon-attendance {
    background: #da5c01;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 4px;
}
.status-icon-discharge {
    background: #ff0000;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 4px;
}

.card-pending {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 21px;
    border: 1px solid #d59c22;
    border-radius: 18px;
    color: #d59c22;
    background: #f5f5f5 0% 0% no-repeat padding-box;
    padding: 5px;
    font: normal normal 600 10px/13px Montserrat;
}
.card-pending svg {
    width: 12px;
}
.card-updated {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 21px;
    border: 1px solid #da5c01;
    border-radius: 18px;
    color: #da5c01;
    background: #f5f5f5 0% 0% no-repeat padding-box;
    padding: 5px;
    font: normal normal 600 10px/13px Montserrat;
}
.card-updated svg {
    width: 12px;
}
  