.style-title {
    text-align: start;
    display: flex;
    font-weight: bold;
}

.nav-link.active {
    color: #ff7a00 !important;
    background-color: #fff !important;
    border-color: #ff7a00 #ff7a00 #fff !important;
    
}

.nav-item button {
    background: white !important;
    border-color: #fff #fff #ff7a00 !important;
}

.nav-tabs {
    border-bottom: 1px solid #ff7a00;
}