.style-title {
    text-align: start;
    display: flex;
    font-weight: bold;
}

.nav-link.active {
    color: #da5c01 !important;
    background-color: #fff !important;
    border-color: #da5c01 #da5c01 #fff !important;
    
}

.nav-item button {
    background: white !important;
    border-color: #fff #fff #da5c01 !important;
}

.nav-tabs {
    border-bottom: 1px solid #da5c01;
}