.title-style {
    font-weight: bold !important;
    color: white;
    font-weight: 700 !important;
    font-size: 20px
}

.card-style {
    -webkit-box-shadow: 2px 5px 16px 0px #adb5bd, 4px 0px 5px -4px rgba(0,0,0,0); 
    box-shadow: 2px 5px 16px 0px #adb5bd, 4px 0px 5px -4px rgba(0,0,0,0);
}

.check-icon-style {
    width: 18px;
}

.check-icon {
    visibility: none;
    width: 18px !important;
    margin-right: 8px;
    color: #ff7a00;
}
.check-icon-hidden {
    visibility: hidden;
    width: 18px !important;
    margin-right: 8px;
    color: #ff7a00;
}

.h3-color{
    color: #58595b;
    font-weight: 600;
}
