.header {
    background-color: #fff;
    min-height: 60px;
    height: 60px;
  }
  
.profile-button {
    border-radius: 10px !important;
    background-color: #fff !important;
    border-color: #fff !important;
    border: solid 1px #ff7a00 !important;
    color: #ff7a00 !important;
}
  
.profile-button:hover {
    border-radius: 10px !important;
    background-color: #fff !important;
    border-color: #fff !important;
    border: solid 1px #ffb46e !important;
    color: #ffb46e !important;
}

.profile-button:focus {
    box-shadow: none !important;
}
  
.style-logo{
    color: #58595b;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: .3px;
}
  
.profile-user {
    font: normal normal bold 12px/15px Montserrat !important;
    letter-spacing: 0 !important;
    text-align: left !important;
}
  
.profile-role {
    font: normal normal bold 12px/15px Montserrat !important;
    letter-spacing: 0 !important;
    text-align: left !important;
}
  
.container-btn-profile {
    display: flex;
    justify-content: center;
}
  
.col-img-profile {
    padding: 0 4px !important;
}
  
.img-profile {
    width: 35px !important;
}
  
.col-information-profile {
    padding: 1rem;
}
  
.popover-arrow {
    display: none !important;
}
  
.style-options {
    font: normal normal bold 12px/15px Montserrat !important;
    letter-spacing: 0 !important;
    text-decoration: none !important;
    text-align: left !important;
}
  
.responsive-display-username {
    display: none;
}
  
.responsive-desktop-username {
    display: block;
}
  
.style-dashboard {
    text-decoration: none !important; 
}

@media only screen and (max-width: 580px) {
    .responsive-display-username {
      display: block;
    }
  
    .responsive-desktop-username {
      display: none;
      font-size: 12px;
    }

    .profile-button {
        background-color: transparent !important;
        border-color: transparent !important;
    }

    .profile-button:hover {
        background-color: transparent !important;
        border-color: transparent !important;
    }

    .profile-button:focus {
        background-color: transparent !important;
        border-color: transparent !important;
    }

    .profile-user{
        color: white !important;
    }
}
  